# NBA Regular Season 2018-19 Data Challenge Project

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.options.mode.chained_assignment = None

In [3]:
NBA_df=pd.read_excel('/Users/ruth/Downloads/nbastats2018-2019.xlsx')
NBA_df.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

In [30]:
for col in NBA_df.columns:
    missing_cells= np.mean(NBA_df[col].isnull())
    print('{}={}%'.format(col,missing_cells))

Name=0.0%
Height=0.0%
Weight=0.0%
Team=0.0%
Age=0.0%
Salary=0.0%
Points=0.0%
Blocks=0.0%
Steals=0.0%
Assists=0.0%
Rebounds=0.0%
FT%=0.0%
FTA=0.0%
FG3%=0.0%
FG3A=0.0%
FG%=0.0%
FGA=0.0%
MP=0.0%
G=0.0%
PER=0.0%
OWS=0.0%
DWS=0.0%
WS=0.0%
WS48=0.0%
USG=0.0%
BPM=0.0%
VORP=0.0%

In [93]:
# for col in NBA_df.columns:
#     miss_c=np.mean(NBA_df[col].isnull())
#     print('{}={}%'.format(col,miss_c))

In [10]:
NBA_Sort=NBA_df.sort_values(by=['Name'], inplace = False, ascending =True)
NBA_Sort.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
185,Aaron Gordon,81,220,Orlando Magic,23,21590909,16.0,0.7,0.7,3.7,...,33.8,78,15.1,1.8,3.3,5.1,0.093,21.8,1.0,2.0
225,Aaron Holiday,73,185,Indiana Pacers,22,1911960,5.9,0.3,0.4,1.7,...,12.9,50,11.9,0.1,0.8,0.9,0.065,21.9,-2.6,-0.1
363,Abdel Nader,78,225,Oklahoma City Thunder,25,1378242,4.0,0.2,0.3,0.3,...,11.4,61,8.8,0.0,0.9,0.9,0.062,15.1,-5.1,-0.5
231,Al Horford,82,245,Boston Celtics,32,28928710,13.6,1.3,0.9,4.2,...,29.0,68,20.2,4.5,2.9,7.5,0.181,18.9,4.8,3.4
11,Al-Farouq Aminu,81,220,Portland Trail Blazers,28,6957105,9.4,0.4,0.8,1.3,...,28.3,81,13.2,3.0,2.8,5.8,0.121,13.7,0.9,1.7

In [76]:
NBA_df.dtypes

Name         object
Height        int64
Weight        int64
Team         object
Age           int64
Salary       object
Points      float64
Blocks      float64
Steals      float64
Assists     float64
Rebounds    float64
FT%         float64
FTA         float64
FG3%        float64
FG3A        float64
FG%         float64
FGA         float64
MP          float64
G             int64
PER         float64
OWS         float64
DWS         float64
WS          float64
WS48        float64
USG         float64
BPM         float64
VORP        float64
dtype: object

In [74]:
#N=NBA_df.duplicated()
#N

NBA_df=NBA_df.fillna(0)

NBA_df.isnull().sum()


NBA_df=NBA_df.fillna(0)

NBA_df.isnull().sum()
#NBA_df

In [50]:
NBA_df.columns

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

# What was the average age of player in the league?

In [46]:
NBA_df.agg({'Age': 'mean'})

Age    25.900192
dtype: float64

# What player scored the most points?

In [11]:
Max_score=NBA_df.groupby(['Name','Points'])['Points'].max().sort_values(ascending=False)
print(Max_score[0:2])

Name          Points
James Harden  36.1      36.1
Paul George   28.0      28.0
Name: Points, dtype: float64

# What player had the most blocks during the season? Was it a post player (F/C)?

In [10]:
Max_Blocks=NBA_df.groupby(['Name','Blocks'])['Blocks'].max().sort_values(ascending=False)
print(Max_Blocks[0:3])

Name               Blocks
Myles Turner       2.7       2.7
Anthony Davis      2.4       2.4
Mitchell Robinson  2.4       2.4
Name: Blocks, dtype: float64

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [9]:
WS48=NBA_df.groupby(['Name','WS48'])['WS48'].max().sort_values(ascending=False)
print(WS48[0:5])

Name            WS48
Zhou Qi         1.261    1.261
Trevon Duval    0.537    0.537
Gary Payton II  0.358    0.358
Troy Caupain    0.347    0.347
Alan Williams   0.312    0.312
Name: WS48, dtype: float64

# What player had the best 3-pt percentage?

In [52]:
Max_FG3=NBA_df.groupby(['Name','FG3%'])['FG3%'].max().sort_values(ascending=False)
print(Max_FG3[0:1])

Name           FG3%
Jordan Sibert  1.0     1.0
Name: FG3%, dtype: float64

# Who played the most minutes during the season

In [8]:
Minutes_Played=NBA_df.groupby(['Name','MP'])['MP'].max().sort_values(ascending =False)
print(Minutes_Played[0:2])

Name          MP
Bradley Beal  36.9    36.9
Paul George   36.9    36.9
Name: MP, dtype: float64

# What player given their player effiecency rating was the clutchest during the season?

In [6]:
PER= NBA_df.groupby(['Name','PER'])['PER'].max().sort_values(ascending = False)
print(PER[0:5])

Name                   PER
Zhou Qi                80.4    80.4
Trevon Duval           38.3    38.3
Gary Payton II         36.9    36.9
Alan Williams          32.9    32.9
Giannis Antetokounmpo  30.9    30.9
Name: PER, dtype: float64

# What team had the youngest roster?

In [62]:
Team_age=NBA_df.groupby(['Team','Age'])['Age'].min().sort_values(ascending= True)
print(Team_age[0:5])

Team                Age
Sacramento Kings    19     19
Philadelphia 76ers  19     19
Denver Nuggets      19     19
Memphis Grizzlies   19     19
Washington Wizards  19     19
Name: Age, dtype: int64

# Who is the highest paid player during the seasion?

In [4]:
NBA_df=NBA_df.replace('-', 0)
NBA_df.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

In [89]:
NBA_df['Salary'] = pd.to_numeric(NBA_df['Salary'])
NBA_df['Salary'].dtypes
#NBA_df['Salary']= NBA_df['Salary'].astype('int')

dtype('int64')

In [92]:
Highest_paid=NBA_df.groupby(['Name','Salary'])['Salary'].max().sort_values(ascending= False)
print(Highest_paid[0:1])

Name           Salary
Stephen Curry  37457154    37457154
Name: Salary, dtype: int64

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [111]:
Free_Throw=NBA_df.groupby(['Name','FT%'])['FT%'].min().sort_values(ascending= True)
print(Free_Throw[0:10])

# Zhou Qi ,Jordan Sibert, Joe Chealey,Jawun Evans,Jacob Evans,J.P. Macura, Isaac Humphries are not reccommeded to be to do Free Throw

Name               FT%
Zhou Qi            0.0    0.0
Jordan Sibert      0.0    0.0
Joe Chealey        0.0    0.0
Jawun Evans        0.0    0.0
Jacob Evans        0.0    0.0
J.P. Macura        0.0    0.0
Isaac Humphries    0.0    0.0
Ike Anigbogu       0.0    0.0
Haywood Highsmith  0.0    0.0
George King        0.0    0.0
Name: FT%, dtype: float64

In [13]:
Free_Throw_Attempts=NBA_df.groupby(['Name','FTA'])['FTA'].max().sort_values(ascending= False)
print(Free_Throw_Attempts[0:10])

Name                   FTA
James Harden           11.0    11.0
Joel Embiid            10.1    10.1
Giannis Antetokounmpo  9.5      9.5
Anthony Davis          7.7      7.7
LeBron James           7.6      7.6
Blake Griffin          7.3      7.3
Kawhi Leonard          7.1      7.1
Devin Booker           7.1      7.1
Paul George            7.0      7.0
Luka Doncic            6.7      6.7
Name: FTA, dtype: float64

In [ ]:
# Zhou Qi has 0% of FT percentage and Free Throw Attempt. I would not want Zhou Qi to be on Free Throw line